* {
    margin: 0px;
    border: 0px;
    box-sizing: border-box
}





.fa-brands {
    margin: 0px 5px;
    font-size: 1.5rem;
}

a:link,
a:visited {
    color: inherit;
}

ul {
    list-style: none;
}



html {
    font-size: 16px;
    font-family: serif;
    text-align: center;
}

.page-container {
    position: relative;
    min-height: 100vh;
}

body {
    font-family: 'kumbh sans', sans-serif;
    margin: 0px;
}

section {
    padding: 8px;
    margin: 4px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
}

.flex-item {
    flex: 1;
    box-sizing: border-box;
}




/* Contact Page */

.contact-page {
    max-width: 1350px;
    margin: auto;
}

.contact-list {
    padding: 8px;
    flex-direction: column;
    justify-content: center;
}

.contact-list li {
    margin: 12px;
}

.contact-form {
    margin: 20px;
    flex-direction: column;
    align-items: flex-start;
}

.form-input {
    border: 2px solid black;
    width: 230px;
}


.bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 12px;
    flex-wrap: wrap;
}



.primary-nav {
    margin: 0px;
    padding: 2px;
    /* min-width: max-content; */
}

.nav-item {
    display: inline;
    padding: 4px;
    margin: 0px 6px;
}

.nav-link {
    text-decoration: none;
    color: transparent;
}

.call-to-action {
    font-size: 1.3rem;
    font-weight: 600;
    margin: auto;
    padding: 4px 6px;
    border: 2px solid black;
    border-radius: 8px;
}

#current-page {
    border-radius: 7px;
    background-color: rgb(224, 224, 224);
}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 5px 5px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 5px 0 0 5px;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



main {
    padding: 10px;
    text-align: left;
}

.page-title {
    font-size: 2em;
}


.page-header {
    box-sizing: border-box;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.company-name {
    margin: 0px 25px;
    align-self: center;
}

.page-header nav {
    justify-content: end;
    align-items: center;
}








.page-footer {
    position: absolute;
    background-color: rgb(209, 209, 209);
    bottom: 0px;

}

.footer-text {
    padding: 8px;
    margin: 0px 6px;
    min-width: max-content;
}

@media (max-width: 330px) {
    .nav-item {
        margin: 1px;
    }

    img .flex-container {
        width: 250px;
        height: 250px;
    }
}




#logo {
    background-color: red;
    width: 80px;
    height: 80px;
    text-align: center;
    line-height: 80px;
    font-size: 35px;
}